.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  background-color: #224254;
}
.navigation .logo-container {
  width: 60px;
  height: auto;
}
.navigation .logo-container__link {
  display: block;
  width: 100%;
  height: 100%;
}
.navigation .logo-container__link__icon {
  width: 100%;
  height: 100%;
}
